{% extends "base.html" %}
    {% block content %}
        <br/>
<div class="container">
  <div class="row">
     <div class="col s12 ">
         <ul  id="card">
         <li>
             <div class="card white darken-1 " id="card" onmouseover="sh()" onmouseout="le()">
    <div>
    <br/>  <div class="row">
     <div class="col s12 m4  ">
        <div class="card-content blue-grey-text">
           <span style="font-size: 48px;font-weight: bold" class="card-title">About Me</span>
           <br><br/>
            　　<div class="card-panel teal">
         <span class="white-text">这是一个测试页面！这就意味着该页面的内容会随时得到补充和改进。
         </span>
       </div>
            <div class="card-panel teal hide-on-small-only">
         <span class="white-text">　　一切都是命运<br/>
　　一切都是烟云<br/>
　　一切都是没有结局的开始<br/>
　　一切都是稍纵即逝的追寻<br/>
　　一切欢乐都没有微笑<br/>
　　一切苦难都没有泪痕<br/>
　　一切语言都是重复<br/>
　　一切交往都是初逢<br/>
　　一切爱情都在心里<br/>
　　一切往事都在梦中<br/>
　　一切希望都带着注释<br/>
　　一切信仰都带着呻吟<br/>
　　一切爆发都有片刻的宁静<br/>
　　一切死亡都有冗长的回声<br/><br/>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ——《一切》 北岛<br/>
         </span>
       </div>
           <span style="font-size: 16px"></span>
           <br><br>
            <br><br/>
</div>
     </div>
         <div class="col s12 m8 ">
        <div class="card-content blue-grey-text">
            <table class="highlight">
        <thead>
          <tr>
              <th data-field="id"style="font-size: 48px;font-weight: bold">个人信息</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><i class="material-icons">perm_contact_calendar</i>姓名：都姜帆</td>
          </tr>
          <tr>
            <td><i class="material-icons">query_builder</i>年龄：20岁</td>
          </tr>
          <tr>
            <td><i class="material-icons">today</i>生日：1996-04-22</td>
          </tr>
          <tr>
            <td><i class="material-icons">room</i>现住地：青岛</td>
          </tr>
         <tr>
            <td><i class="material-icons">receipt</i>学历：本科大二软件工程，在读</td>
          </tr>
        </tbody>
      </table>
              <table class="highlight">
        <thead>
          <tr>
              <th data-field="id"style="font-size: 48px;font-weight: bold">联系方式</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>WEIBO：<a class=""  target="_blank" href="http://weibo.com/5259616802/profile">Fananananana</a></td>
          </tr>
          <tr>
            <td>EMAIL：qfhy2008@126.COM</td>
          </tr>
          <tr>
            <td>TIEBA：<a class=""  target="_blank" href="http://tieba.baidu.com/home/main?id=a548d3f0c6e9cbaeceded4c2b848&fr=userbar">羽崎水无月</a></td>
          </tr>
          <tr>
            <td>QQ：519692479</td>
          </tr>
        </tbody>
      </table>
            <table class="highlight">
        <thead>
          <tr>
              <th data-field="id"style="font-size: 48px;font-weight: bold">个人代码库</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>GitHub：<a class=""  href="#!">本站代码稍后会上传至GitHub，敬请期待！</a></td>
          </tr>
        </tbody>
      </table>
            <table class="highlight">
        <thead>
          <tr>
              <th data-field="id"style="font-size: 48px;font-weight: bold">已学过的</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Python 3（Django，Flask（这个网站使用的框架）等Web框架）</td>
          </tr>
          <tr>
            <td>Selenium 2（基于Python 3）自动化测试</td>
          </tr>
           <tr>
            <td>JSP，Java（Struts2，Spring MVC等Web框架）</td>
          </tr>
          <tr>
            <td>Bootstrap等前端响应式布局</td>
          </tr>
          <tr>
            <td>JavaScript，jQuery等前端脚本语言</td>
          </tr>
          <tr>
            <td>SQL语言</td>
          </tr>
        </tbody>
      </table>
      <table class="highlight">
        <thead>
          <tr>
              <th data-field="id"style="font-size: 48px;font-weight: bold">发展方向</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Web前后端开发</td>
          </tr>
          <tr>
            <td>iOS，Android等移动APP开发</td>
          </tr>
           <tr>
            <td>自动化脚本测试</td>
          </tr>
        </tbody>
      </table>
<table class="highlight">
        <thead>
          <tr>
              <th data-field="id"style="font-size: 48px;font-weight: bold">其他兴趣</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>英语，日语</td>
          </tr>
          <tr>
            <td>国史，日史</td>
          </tr>
           <tr>
            <td>二次元（并不是很狂热的那种）</td>
          </tr>
        </tbody>
      </table>
           <span style="font-size: 16px"></span>
           <br><br>
            <br><br/>
</div>
     </div>
         </div>
<div class="card-action right-align"><div class="left">

         <span   class="solar-blue-text text-lighten-2"><i class="material-icons">loyalty</i>ABOUT ME</span>


  </div>
           <a class="waves-effect waves-teal btn-flat" href="/index"><i class="material-icons left">picture_in_picture</i>返回首页</a>
         </div>
    </div>


             </div>
           <script>
               function sh(){
                   $('#card').addClass('z-depth-2');
               }
               function le(){
                   $('#card').removeClass('z-depth-2');
               }
           </script>



</li>
          </ul>

     </div>

   </div>
</div>

        <script>
            $(document).ready(function(){
      $('.parallax').parallax();
      $("#about").addClass("active");
      Materialize.showStaggeredList('#card');
    });
        </script>
    {% endblock %}