{% extends "base.html" %}
    {% block content %}
        <script type="text/JavaScript" src="../static/ckeditor/ckeditor.js"></script>
        <br/>
<div class="container">
  <div class="row">
     <div class="col s12 ">
         <ul  id="card">
         <li>
             <div class="card white darken-1 " id="card" onmouseover="sh()" onmouseout="le()">

    <div>
    <br/>
        <div class="card-content blue-grey-text">
           <span style="font-size: 48px;font-weight: bold" class="card-title">新建博文</span>
           <br><br/>
           <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s10">
          <input placeholder="请输入标题" id="newtitle" type="text" class="validate">
          <label for="first_name">博文标题</label>
        </div>
        <div class="input-field col s2">
          <input placeholder="请输入标签" id="newtag" type="text" class="validate">
          <label for="first_name"><i class="material-icons">loyalty</i>标签</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
            <p style="font-size: 9px">简介部分</p>
          <textarea id="preTextArea"name="preTextArea" cols="20" rows="2" class="ckeditor"></textarea>
            <script type="text/javascript">CKEDITOR.replace('preTextArea')</script>
        </div>
      </div>
        <div class="row">
        <div class="input-field col s12">
            <p style="font-size: 9px">正文部分</p>
          <textarea id="textTextArea" name="textTextArea" cols="20" rows="2" class="ckeditor"></textarea>
            <script type="text/javascript">CKEDITOR.replace('textTextArea')</script>
        </div>
      </div>
    </form>
  </div>
           <br><br>

            <br><br/>

         </div>
<div class="card-action right-align"><div class="left">

         <span   class="solar-blue-text text-lighten-2"></span>


  </div>
           <a class="waves-effect waves-light btn" href="JAVASCRIPT:blogpost()"><i class="material-icons left">cloud</i>提交</a>
         </div>
    </div>


             </div>
           <script>
               function sh(){
                   $('#card').addClass('z-depth-2');
               }
               function le(){
                   $('#card').removeClass('z-depth-2');
               }
           </script>



</li>
          </ul>

     </div>

   </div>
</div>

        <script>
            $(document).ready(function(){
      $('.parallax').parallax();
      $("#useradmin").addClass("active");
      Materialize.showStaggeredList('#card');
    });
        </script>
    {% endblock %}