{% extends "base.html" %}
    {% block content %}
        <br/>
<div class="container">
  <div class="row">
     <div class="col s12 ">
         <ul  id="cardd">
         <li>
             <div class="card white darken-1 " id="cardb" onmouseover="sh()" onmouseout="le()">
                 {% if posts %}
        {% for post in posts %}
    <div>
     <script>
            $(document).ready(function(){
      $(document).attr("title","{{ post.b_title }} - Sandwinds");
    });
        </script>
    <br/>
        <div class="card-content blue-grey-text">
           <span style="font-size: 48px;font-weight: bold" class="card-title">{{ post.b_title }}</span>
           <br><br/>
           <span style="font-size: 16px"><i class="material-icons ">query_builder</i>{{ post.b_date }}</span>
           <br><br>
             {% autoescape false %}
             <div style="overflow:auto;word-break: break-all"> {{ post.b_text }}</div>
         {% endautoescape %}
            <br><br/>

         </div>
<div class="card-action right-align"><div class="left">
         <span   class="solar-blue-text text-lighten-2"><i class="material-icons">loyalty</i>{{ post.b_tag }}</span>
  </div>
           <a class="waves-effect waves-teal btn-flat" href="/index"><i class="material-icons left">picture_in_picture</i>返回首页</a>
         </div>
    </div>
                 <script>
               function sh(){
                   $('#cardb').addClass('z-depth-2');
               }
               function le(){
                   $('#cardb').removeClass('z-depth-2');
               }
           </script>
    {% endfor %}
    {% else %}
       <p>No Info</p>
    {% endif %}
             </div>
</li>
          </ul>
     </div>
   </div>

      <div class="row">
     <div class="col s12 ">
         <ul  id="carda">
          <li>
             <div class="card white darken-1 " id="cardp" >

    <div class="row" >
        <div class="col s2 "></div>
    <div class="col s10 ">
        <div class="card-content blue-grey-text">
          <span style="font-size: 36px;font-weight: bold">评论区</span>

         </div>

    </div>
    </div>

                      </div>
            </li>


               {% if comms %}
        {% for comm in comms %}
         <li>
             <div class="card white darken-1 " id="card{{ comm.c_id }}" onmouseover="sh{{ comm.c_id }}()" onmouseout="le{{ comm.c_id }}()">

    <div class="row" >
        <div class="col s1 "><div class="card-content blue-grey-text"></div></div>
    <div class="col s11 ">
        <div class="card-content blue-grey-text">
             <div class="chip">
    <img src="../static/img/ic.jpg" alt="Contact Person">
                 {% if comm.c_name == "羽崎水无月" %}
 <span class="red-text">{{ comm.c_name }}</span>
                 {% else %}
 <span > {{ comm.c_name }}</span>
                 {% endif %}
  </div>
           <br/>
           <span style="font-size: 24px;font-weight: 400" class="card-title">{{ comm.c_text }}</span><br/>
            <i class="material-icons prefix">query_builder</i>
            <span style="font-size: 9">{{ comm.c_date}}</span>
         </div>

    </div>
    </div>
            <script>
               function sh{{ comm.c_id }}(){
                   $('#card{{ comm.c_id }}').addClass('z-depth-2');
               }
               function le{{ comm.c_id }}(){
                   $('#card{{ comm.c_id }}').removeClass('z-depth-2');
               }
           </script>
                      </div>
            </li>
    {% endfor %}
    {% else %}

    {% endif %}


           <li>
             <div class="card white darken-1 " id="cardc" onmouseover="shc()" onmouseout="lec()">

                 <div class="row" >
        <div class="input-field col s2 "><div class="card-content blue-grey-text">

            <img height="70" width="70" src="../static/img/ic.jpg" alt="" class="circle responsive-img"><br/>
            <span style="font-size: 36px;font-weight: bold">评论</span>
          </div>
        </div>
    <div class="col s10 ">
        <div class="card-content blue-grey-text">
            <form method="post" action="/commpost" id="commform">
                <input type="hidden" value="{{ b_id }}" name="b_id">
                <div class="row">
            <div class="input-field col s10 m6 ">
            <i class="material-icons prefix">account_circle</i>
           <input placeholder="昵称（必填）" id="nickname" type="text" length="12" name="name" value="{{ nickname }}"required >
            </div>
             <div class="input-field col s10 m6 ">
            <i class="material-icons prefix">email</i>
           <input placeholder="电子邮件地址（选填）" id="email" type="email" name="email">
            </div>
        <div class="input-field col s10 m12">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="pinglun" class="materialize-textarea" length="500" name="text"  required ></textarea>
          <label for="pinglun">写下评论吧~</label>

        </div>
<div  class="input-field col s10 m5" id="send">
               <div >
             {{ session['vah'] }}乘以{{ session['vbh'] }}等于
           <input placeholder="验证码" id="vc" type="text" name="vc" required >
            </div>

          </div>
                </div>
                <div class="card-action right-align">
                     <div>  <div class="progress" id="load2">
      <div class="indeterminate"></div></div>
           </div> <button class="btn waves-effect waves-light " type="submit" name="action" onclick="commpost()">发送
    <i class="material-icons right">send</i>
  </button>
         </div>
            </form>
        </div>
           <span style="font-size: 24px;font-weight: 400" class="card-title"></span>
         </div>
    </div>
    </div>
            <script>
               function shc(){
                   $('#cardc').addClass('z-depth-2');
               }
               function lec(){
                   $('#cardc').removeClass('z-depth-2');
               }
           </script>

</li>
          </ul>
     </div>
   </div>
</div>

        <script>
            $(document).ready(function(){
      $('.parallax').parallax();
      $("#blog").addClass("active");
      Materialize.showStaggeredList('#cardd');
      Materialize.showStaggeredList('#carda');
      $('input#input_text, textarea#textarea1').characterCounter();
      $('#load2').hide();
                  {% with messages = get_flashed_messages() %}
    {% if messages %}
        Materialize.toast('{{ messages[0] }}', 6000)
    {% endif %}
    {% endwith %}
    });
        </script>
    {% endblock %}