<!DOCTYPE html>
  <html>
  <head>
  <title>Sandwinds</title>
  <link type="text/css" rel="stylesheet" href="../static/css/materialize.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="../static/css/prism.css" />
  <link type="text/css" rel="stylesheet" href="../static/iconfont/material-icons.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  </head>

  <body style="background-color:#f5f5f5">

  <div class="container">
      <div class="row">
          <ul id="list">
          <li>
    <div class="card-panel"><center>
    <span  style="font-size: 280px" class="blue-text text-darken-2">凡心</span></center>
  </div></li>
          <li>
     <div class="card-panel"><center>
    <span  style="font-size: 48px" class="blue-text text-darken-2">COMING SOON</span></center>
  </div>
          </li></ul>
          </div>

 <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">loyalty</i>
    </a>
    <ul>
      <li><a class="btn-floating red" href="index"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>
  </div>
  <script type="text/javascript" src="../static/js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="../static/js/materialize.min.js"></script>
   <script>
    $(document).ready(function () {
        Materialize.showStaggeredList('#list')
    });
</script>
  </body>
  </html>