{% extends "base.html" %}
    {% block content %}

         <div class="slider">
    <ul class="slides">
      <li>
        <img src="../static/img/1.jpg">
        <div class="caption center-align">
          <h3>Welcome</h3>
          <h5 class="light grey-text text-lighten-3">I am wlFan!</h5>
             <h5 class="light grey-text text-lighten-3">茫茫人海中我们相遇</h5>
            <a class=" red accent-1 waves-effect waves-light btn" href="/about">关于我</a>
        </div>
      </li>
      <li>
        <img src="../static/img/2.jpg">
        <div class="caption left-align">
          <h3>This is my blog</h3>
          <h5 class="light grey-text text-lighten-3">It's new.</h5>
        </div>
      </li>
      <li>
        <img src="../static/img/3.jpg">
        <div class="caption right-align">
          <h3>Material Design makes things fascinating</h3>
          <h5 class="light grey-text text-lighten-3">Do you like it?</h5>
        </div>
      </li>
    </ul>
  </div>
        <div class="container">
    <div class="row">
     <div class="col s12 m8">
         <ul  id="card">

              {% for post in posts %}
         <li>
       <div class="card white darken-1 " id="card{{ post.b_id }}" onmouseover="sh{{ post.b_id }}()" onmouseout="le{{ post.b_id }}()">
           <script>
               function sh{{ post.b_id }}(){
                   $('#card{{ post.b_id }}').addClass('z-depth-2');
               }
               function le{{ post.b_id }}(){
                   $('#card{{ post.b_id }}').removeClass('z-depth-2');
               }
           </script>
         <div class="card-content blue-grey-text">
           <span style="font-size: 36px;font-weight: bold" class="card-title" ><a href="/detail/{{ post.b_id }}" class="blue-grey-text" >{{ post.b_title }}</a></span>
           <br>
           <span style="font-size: 9px">{{ post.b_date }}</span>
           <br><br>
         {% autoescape false %}
             {{ post.b_pre }}
         {% endautoescape %}

         </div>

         <div class="card-action right-align"><div class="left">

         <span   class="solar-blue-text text-lighten-2"><i class="material-icons">loyalty</i>{{ post.b_tag }}</span>


  </div>
          <a class="waves-effect waves-light btn" href="/detail/{{ post.b_id }}"><i class="material-icons left">cloud</i>查看详情</a>
         </div>
       </div>
             </li>
             {% endfor %}
          </ul>
     {% if user == "tag" %}
<span></span>
         {% else %}
         <center> <ul class="pagination">
         {% if page== 1  %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        {% else %}
        <li class="waves-effect"><a href="index?page={{ page-1 }}"><i class="material-icons">chevron_left</i></a></li>
         {% endif %}
    {% for c in range(count) %}
        {% if page== c+1  %}
        <li class="waves-effect active"><a href="#!">{{ c+1 }}</a></li>
        {% else %}
        <a href="index?page={{ c+1 }}"><li class="waves-effect">{{ c+1 }} </li></a>
        {% endif %}
    {% endfor %}
         {% if page== count  %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        {% else %}
        <li class="waves-effect"><a href="index?page={{ page+1 }}"><i class="material-icons">chevron_right</i></a></li>
         {% endif %}
     </ul>
         </center>
     {% endif %}
     </div>
    <div class="col s12 m4">
        <ul >
       <div class="card white darken-1">
         <div class="card-content blue-grey-text">
          <center><span class="card-title">目录</span></center>
           <div class="collection ">
              {% for cate in category %}
    <a href="/category/{{ cate.b_tag }}" class="collection-item">{{ cate.b_tag }}<span class="badge white-text teal">{{ cate.count }}</span></a>
               {% endfor %}
  </div>
</div>
       </div>
             </ul>
        </div>
   </div>
            </div>

  <script>
    $(document).ready(function () {
        $("#blog").addClass("active");
        Materialize.showStaggeredList('#card');
        $('.slider').slider({full_width: true,indicators:false});


    });

</script>
    {% endblock %}