<!DOCTYPE html>
<html>
<head>
    <title>500</title>
    <link rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../static/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/senkaze.css">
    <script src="../static/js/jquery-2.1.4.min.js"></script>
    <script src="../static/dist/semantic.min.js"></script>
    <script src="../static/js/fan.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>

<body>

<div class="ui container">
    <br/>
    <div class="ui segment">
        <center><p style="font-size: 150px">500</p>
            <div class="ui button black" onclick="document.location.href='/'">Back To Index</div>
        </center>
    </div>
</div>


</div>
</body>
</html>